@charset "utf-8";
html {
  font-size: 625%;
}
body {
  border: 0;
  font: normal 100% Arial, sans-serif;
  font-family: "Microsoft Yahei", Arial;
  font-size: 14px;
  font-size: 0.14rem;
  color: #333333;
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
a {
  cursor: pointer;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
input:focus {
  outline: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.box-center {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  box-align: center;
  align-items: center;
}
.box-between {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  box-align: center;
  align-items: center;
}
.cur {
  cursor: pointer;
}
.cur-hover {
  cursor: pointer;
}
.cur-hover:hover {
  box-shadow: 0px 0px 1px 1px #ccc;
}
.row {
  margin: 0;
}
.ellipsis {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b {
  font-weight: bold;
}
.pic img {
  width: 100%;
}
.clear-float::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.page-body {
  padding: 10px 30px;
}
.page-body h5 {
  font-size: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.position-title span{
	margin:0 10px;
}
.page-body select,
.page-body input[type="text"],
.page-body input[type="date"],
.page-body textarea,
.page-body input[type='number'] {
  border-color: #999;
}
.page-body textarea {
  resize: none;
}
.page-body .search-box {
  padding: 0 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.page-body .search-box form {
  padding-right: 60px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.page-body .search-box form select {
  width: 110px;
}
.page-body .search-box form input[type='text'],
.page-body .search-box form input[type='number'] {
  width: 200px;
}
.page-body .search-box form input[type='date'] {
  width: 160px;
}
.page-body .search-box form > :nth-child(n) {
  margin-right: 10px;
  margin-top: 15px;
}
.page-body .search-box form .search-btn {
  width: 60px;
}
.page-body .search-box form .search-btn input {
  position: absolute;
  bottom: 0;
  right: 15px;
}
.page-body .search-box form > div {
  display: flex;
  line-height: 34px;
}
.page-body .search-box form > div span {
  font-size: 16px;
  display: block;
  min-width: 80px;
  text-align: right;
}
.page-body .search-box form > div input[type='text'] {
  width: 160px;
}
.page-body .search-box > div {
  height: 34px;
  margin-top: 15px;
  position: relative;
}
.page-body .search-box > div input {
  position: absolute;
  right: 0;
}
.page-body .check-btn {
  height: 50px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.page-body .check-btn .btn {
  margin-right: 10px;
}
.page-body .modal {
  max-width: 100%;
  overflow: auto;
}
.page-body #delete .modal-dialog,
.page-body #statusChange .modal-dialog,
.page-body #newSure .modal-dialog,
.page-body #status .modal-dialog {
  width: 300px;
}
.page-body div.form-group.button {
  float: right;
}
.page-body div.form-group.button input {
  margin-right: 30px;
}
.page-body #power .modal-dialog {
  width: 750px;
}
.page-body #shareMes .modal-dialog {
  width: 1200px;
}
.page-body #shareMes .modal-dialog .form-group-table {
  border-top: 1px #ccc solid;
  border-left: 1px #ccc solid;
}
.page-body #shareMes .modal-dialog .form-group-table ul li {
  float: left;
  width: 25%;
  height: 34px;
  text-align: center;
  line-height: 34px;
  border-bottom: 1px #ccc solid;
  border-right: 1px #ccc solid;
}
.page-body #addUser .modal-dialog,
.page-body #checkedUser .modal-dialog {
  width: 900px;
}
.page-body #addUser .modal-dialog .modal-content,
.page-body #checkedUser .modal-dialog .modal-content {
  min-height: 500px;
}
.page-body #addUser .modal-dialog form,
.page-body #checkedUser .modal-dialog form {
  width: 100%;
}
.page-body #addUser .modal-dialog form span,
.page-body #checkedUser .modal-dialog form span {
  width: 115px;
}
.page-body #roleMes .radio-left,
.page-body #shareMes .radio-left {
  margin-right: 20px;
}
.page-body #roleMes .control-mes,
.page-body #shareMes .control-mes {
  padding: 7px 15px 7px 20px;
}
.popover-content {
  word-wrap: break-word;
}
.small-pic {
  width: 80px;
  height: 60px;
}
.original-pic {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  overflow-y: auto;
  z-index: 1200;
}
.original-pic img {
  max-width: 80%;
}
#zipUpLoad .col-xs-5,
#zipUpLoad .col-xs-7 {
  padding: 0;
}
#zipUpLoad .zipMes {
  line-height: 34px;
  margin-left: 10px;
  color: red;
}
#zipUpLoad .progress {
  width: 100px;
  margin-top: 7px;
  margin-bottom: 0;
  background-color: #ccc;
}
#zipUpLoad .progress .progress-bar {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
#picMes .modal-dialog {
  width: 850px;
}
#picMes .modal-dialog .modal-body {
  max-height: 600px;
  overflow-y: auto;
}
#picMes .modal-dialog .picMes-pic {
  width: 20%;
  text-align: center;
  float: left;
}
#picMes .modal-dialog .picMes-pic img {
  width: 120px;
  height: 120px;
}
#picMes .modal-dialog .picMes-pic p {
  margin-top: 10px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#dateMes .dateMesListTitle .col-xs-4 {
  margin-top: 7px;
  padding-left: 20px;
}
#dateMes #listAdd,
#dateMes #listSub {
  margin-top: 7px;
  cursor: pointer;
}
#check.userList .modal-dialog {
  width: 1200px;
  font-size: 16px;
}
#check.userList .modal-dialog .modal-body {
  width: 1198px;
}
#check.userList .modal-dialog .form-group {
  margin-bottom: 2px;
  line-height: 30px;
}
#check.userList .modal-dialog .form-group span {
  font-weight: normal;
}
#check.userList .modal-dialog .form-group .left,
#check.userList .modal-dialog .form-group .right {
  display: inline-block;
}
#check.userList .modal-dialog .form-group .left {
  margin-left: 30%;
  width: 20%;
}
#check.userList .modal-dialog .form-group .right {
  margin-left: 5%;
  width: 30%;
}
#check.userList .modal-dialog .form-group .col-xs-2,
#check.userList .modal-dialog .form-group .col-xs-8 {
  padding: 10px;
}
#check.userList .modal-dialog .form-group select {
  float: right;
  width: calc(100% - 80px);
  height: 30px;
  padding: 3px 6px;
}
#check.userList .modal-dialog #personalMes .left {
  margin-left: 26%;
  width: 30%;
}
#check.userList .modal-dialog #personalMes .right {
  margin-left: 0%;
  width: 30%;
}
#check.userList .modal-dialog #personalMes input {
  width: auto;
  position: relative;
  right: 0;
  display: inline-block;
}
#check.userList .modal-dialog #personalMes input#province,
#check.userList .modal-dialog #personalMes input#city {
  width: 60px;
  margin: 0 10px 0 0;
  padding: 6px 5px;
}
#check.userList .modal-dialog #personalMes input#city {
  margin-left: 10px;
}
#check.userList .modal-dialog .checkMes,
#check.userList .modal-dialog #personalMes {
  border-top: 1px #999 solid;
  padding: 15px 0 0;
  margin: 15px 0 0;
}
#check.userList .modal-dialog .checkBtn,
#check.userList .modal-dialog .checkChange {
  margin-top: 30px;
  padding-left: 400px;
}
#check.userList .modal-dialog .checkBtn .btn,
#check.userList .modal-dialog .checkChange .btn {
  padding: 8px 20px;
  font-size: 16px;
  margin: 0 40px;
}
#check.userList .modal-dialog .checkTable {
  font-size: 14px;
  padding: 0 20px;
  margin-top: 20px;
}
#check.userList .modal-dialog .checkRule {
  padding-left: 210px;
  border-top: 1px #999 solid;
  margin-top: 15px;
  padding-top: 15px;
}
#check.userList .modal-dialog .checkRule a {
  margin: 0 20px;
}
#addRule .modal-dialog {
  width: 1400px;
}
#addRule .modal-dialog .ruleBtn {
  margin-top: 30px;
  padding-left: 500px;
}
#addRule .modal-dialog .ruleBtn .btn {
  padding: 8px 20px;
  font-size: 16px;
  margin: 0 40px;
}
.roleMesInterval {
  display: flex;
  justify-content: space-between;
}
.roleMesInterval span {
  padding: 0 10px;
  line-height: 34px;
}
.th-inner {
  position: relative;
}
.th-inner .glyphicon-triangle-bottom {
  position: absolute;
  top: 15px;
}
.th-inner .glyphicon-triangle-top {
  position: absolute;
  top: 11px;
}
.page-body {
  overflow-x: auto;
  overflow-y: auto;
}
.big-width {
  min-width: 1600px;
}
.table-striped > tbody > tr:nth-of-type(even) {
 /* background-color: #d5d5d5;*/
}

/*///////////*/
.margin-10{
	margin: 0 10px;
}
.padding50{
	padding:50px;
}
.btn-right{
	 float: right;
	 margin-right: 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f3efef;
    background-color: #5bc0de;
}
.taoc{
	border:1px solid #CCCCCC;
}
.taoc .taoc-title{
	text-align: center;
	line-height: 50px;
	height: 50px;
	font-size: 24px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 20px;
	}
.body-gbg{
	background: #f0f5ee;
}
.add-taoc{
	line-height: 50px;
	height: 50px;
	text-align: center;
	font-size: 18px;
	border:1px dashed #CCCCCC;
	margin-top: 20px;
	cursor: pointer;
}
.add-taoc:hover{
	background: #f0f5ee;
}
.add-yulan{
	width: 70px;
    height: 34px;
    line-height: 34px;
    background: #29ad29;
    color: white;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.taoc-del{
	float: right;
    color: red;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

